[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.1"
matplotlib = "==3.3.4"
scipy = {path = "./scipy-1.4.1-cp36-cp36m-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.6"
